<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.eldercare.mapper.BindingMapper">

    <select id="selectByGuardianId" resultType="com.example.eldercare.entity.Binding">
        SELECT * FROM binding WHERE guardian_id = #{guardianId} AND deleted = 0
    </select>

    <select id="selectByElderlyId" resultType="com.example.eldercare.entity.Binding">
        SELECT * FROM binding WHERE elderly_id = #{elderlyId} AND deleted = 0
    </select>

    <select id="selectAcceptedByGuardianId" resultType="com.example.eldercare.entity.Binding">
        SELECT * FROM binding WHERE guardian_id = #{guardianId} AND status = 1 AND deleted = 0
    </select>

    <select id="selectAcceptedByElderlyId" resultType="com.example.eldercare.entity.Binding">
        SELECT * FROM binding WHERE elderly_id = #{elderlyId} AND status = 1 AND deleted = 0
    </select>

    <select id="selectByGuardianAndElderly" resultType="com.example.eldercare.entity.Binding">
        SELECT * FROM binding WHERE guardian_id = #{guardianId} AND elderly_id = #{elderlyId} AND deleted = 0
    </select>

</mapper>